## Setup

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt
import os.path
import getpass
import platform
from pandasql import sqldf

username = getpass.getuser()

print("Username: ", username)
pathPart1 = "/Users/"
pathPart2 = "/Github/SCGProject/Datasets/"
complePath = pathPart1+username+pathPart2

if platform.system() == "Darwin":
    if(username == "marcovinciguerra"):
        dfCambio = pd.read_csv(
            complePath+"/CorrectedDatasets/dfCambio.csv")

        dfClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dfClienti.csv")

        dfConsumi = pd.read_csv(
            complePath + "/CorrectedDatasets/dfConsumi.csv")

        dfCostoOrarioConsuntivo = pd.read_csv(
            complePath+"/CorrectedDatasets/dfConsuntivo.csv")

        dfCostoOrarioBudget = pd.read_csv(
            complePath+"CorrectedDatasets/dfCostoOrario.csv")

        dfImpiegoRisorse = pd.read_csv(
            complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

        dftuttiClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dftuttiClienti.csv")

        dfVendite = pd.read_csv(
            complePath+"/CorrectedDatasets/dfVendite.csv")

    elif(username == "davidguzman"):
        pathPart1 = "/Users/"
        pathPart2 = "/documents/Github/SCGProject/Datasets/"
        complePath = pathPart1+username+pathPart2

        dfCambio = pd.read_csv(
            complePath+"/CorrectedDatasets/dfCambio.csv")

        dfClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dfClienti.csv")

        dfConsumi = pd.read_csv(
            complePath + "/CorrectedDatasets/dfConsumi.csv")

        dfCostoOrarioConsuntivo = pd.read_csv(
            complePath+"/CorrectedDatasets/dfConsuntivo.csv")

        dfCostoOrarioBudget = pd.read_csv(
            complePath+"CorrectedDatasets/dfCostoOrario.csv")

        dfImpiegoRisorse = pd.read_csv(
            complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

        dftuttiClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dftuttiClienti.csv")

        dfVendite = pd.read_csv(
            complePath+"/CorrectedDatasets/dfVendite.csv")

elif platform.system() == "Linux":
    complePath = "/home/alinux/unibg/git_repo/SCGProject"
    pathPart1 = "/Users/"
    pathPart2 = "/documents/Github/SCGProject/Datasets/"
    complePath = pathPart1+username+pathPart2

    dfCambio = pd.read_csv(
        complePath+"/CorrectedDatasets/dfCambio.csv")

    dfClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dfClienti.csv")

    dfConsumi = pd.read_csv(
        complePath + "/CorrectedDatasets/dfConsumi.csv")

    dfCostoOrarioConsuntivo = pd.read_csv(
        complePath+"/CorrectedDatasets/dfConsuntivo.csv")

    dfCostoOrarioBudget = pd.read_csv(
        complePath+"CorrectedDatasets/dfCostoOrario.csv")

    dfImpiegoRisorse = pd.read_csv(
        complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

    dftuttiClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dftuttiClienti.csv")

    dfVendite = pd.read_csv(
        complePath+"/CorrectedDatasets/dfVendite.csv")

Username:  marcovinciguerra

In [3]:
del dfConsumi['Unnamed: 0']
#del dfConsumi['NrMovimento']
dfConsumi.rename(columns={'Budget/cons': 'choice'}, inplace=True)
dfConsumi.head()

,NrMovimento,choice,CodiceMP,NrArticolo,NrDocumento,QuantityMPImpiegata,ImportoCostoTOTALE
0,28854,BUDGET,ART0001074,ART0000018,ODP17-05342,30.0,5.15
1,66819,CONSUNTIVO,ART0001074,ART0000018,ODP19-05998,30.0,5.15
2,28853,BUDGET,ART0005696,ART0000041,ODP17-05342,4.0,92.00
3,66818,CONSUNTIVO,ART0005696,ART0000041,ODP19-05998,4.0,88.00
4,28855,BUDGET,ART0005697,ART0000042,ODP17-05342,4.0,104.00

# JOIN

In [8]:
#Sinistra -> intermedia/finito
#Destra-> materia prima
A = sqldf('SELECT * FROM dfConsumi as A JOIN dfConsumi B ON A.CodiceMP = B.NrArticolo AND A.NrDocumento = B.NrDocumento group by A.NrArticolo, A.NrDocumento')
#del A['NrDocumento']
del A['NrMovimento']
A.head()

,choice,CodiceMP,NrArticolo,NrDocumento,QuantityMPImpiegata,ImportoCostoTOTALE,choice,CodiceMP,NrArticolo,NrDocumento,QuantityMPImpiegata,ImportoCostoTOTALE
0,BUDGET,ART0001868,ART0000748,ODP17-02386,49.0,1278.86,BUDGET,ART0005434,ART0001868,ODP17-02386,8000.0,142.46
1,BUDGET,ART0001868,ART0000748,ODP17-05535,50.0,1348.54,BUDGET,ART0005434,ART0001868,ODP17-05535,8000.0,148.53
2,BUDGET,ART0001868,ART0000748,ODP17-10871,50.0,1308.66,BUDGET,ART0005434,ART0001868,ODP17-10871,8000.0,158.66
3,BUDGET,ART0001868,ART0000748,ODP17-15078,50.0,1311.31,BUDGET,ART0005434,ART0001868,ODP17-15078,8480.0,177.99
4,CONSUNTIVO,ART0001868,ART0000748,ODP18-02202,50.0,1205.91,CONSUNTIVO,ART0005434,ART0001868,ODP18-02202,8025.0,168.41

# Cancellazione dei dati di costo intermedio

### Seleziono quello che mi serve

In [5]:
C = sqldf('SELECT B.NrArticolo FROM dfConsumi as A JOIN dfConsumi B ON A.CodiceMP = B.NrArticolo AND A.NrDocumento =B.NrDocumento group by A.NrArticolo')
C.head()
C.values.flatten()

array(['ART0001868', 'ART0001900', 'ART0001811', 'ART0001872',
       'ART0001765', 'ART0001874', 'ART0001884', 'ART0001897',
       'ART0001804', 'ART0001880', 'ART0002490', 'ART0001776',
       'ART0001778', 'ART0001895', 'ART0001898', 'ART0001788',
       'ART0001913', 'ART0001829', 'ART0001866', 'ART0001935',
       'ART0001869', 'ART0001923', 'ART0001940', 'ART0001942',
       'ART0001945', 'ART0001920', 'ART0001931', 'ART0001950',
       'ART0001946', 'ART0001841', 'ART0001770', 'ART0001886',
       'ART0001882', 'ART0001891', 'ART0001908', 'ART0001807',
       'ART0001767', 'ART0001766', 'ART0003940', 'ART0003940'],
      dtype=object)

### Eliminazione dei dati che non servono

In [6]:

b = dfConsumi['NrArticolo'].isin(C.values.flatten())
dfConsumi.iloc[b,:]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [ ]:
import numpy 
b.shape

(4519,)

In [ ]:
b

0       False
1       False
2       False
3       False
4       False
        ...
4514    False
4515    False
4516    False
4517    False
4518    False
Name: NrArticolo, Length: 4519, dtype: bool