# Setup

In [20]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt
import os.path
import getpass
import platform
from pandasql import sqldf

username = getpass.getuser()

print("Username: ", username)
pathPart1 = "/Users/"
pathPart2 = "/Github/SCGProject/Datasets/"
complePath = pathPart1+username+pathPart2

if platform.system() == "Darwin":
    if(username == "marcovinciguerra"):
        dfCambio = pd.read_csv(
            complePath+"/CorrectedDatasets/dfCambio.csv")

        dfClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dfClienti.csv")

        dfConsumi = pd.read_csv(
            complePath + "/CorrectedDatasets/dfConsumi.csv")

        dfCostoOrarioConsuntivo = pd.read_csv(
            complePath+"/CorrectedDatasets/dfConsuntivo.csv")

        dfCostoOrarioBudget = pd.read_csv(
            complePath+"CorrectedDatasets/dfCostoOrario.csv")

        dfImpiegoRisorse = pd.read_csv(
            complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

        dftuttiClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dftuttiClienti.csv")

        dfVendite = pd.read_csv(
            complePath+"/CorrectedDatasets/dfVendite.csv")

    elif(username == "davidguzman"):
        pathPart1 = "/Users/"
        pathPart2 = "/documents/Github/SCGProject/Datasets/"
        complePath = pathPart1+username+pathPart2

        dfCambio = pd.read_csv(
            complePath+"/CorrectedDatasets/dfCambio.csv")

        dfClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dfClienti.csv")

        dfConsumi = pd.read_csv(
            complePath + "/CorrectedDatasets/dfConsumi.csv")

        dfCostoOrarioConsuntivo = pd.read_csv(
            complePath+"/CorrectedDatasets/dfConsuntivo.csv")

        dfCostoOrarioBudget = pd.read_csv(
            complePath+"CorrectedDatasets/dfCostoOrario.csv")

        dfImpiegoRisorse = pd.read_csv(
            complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

        dftuttiClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dftuttiClienti.csv")

        dfVendite = pd.read_csv(
            complePath+"/CorrectedDatasets/dfVendite.csv")

elif platform.system() == "Linux":
    complePath = "/home/alinux/unibg/git_repo/SCGProject"
    pathPart1 = "/Users/"
    pathPart2 = "/documents/Github/SCGProject/Datasets/"
    complePath = pathPart1+username+pathPart2

    dfCambio = pd.read_csv(
        complePath+"/CorrectedDatasets/dfCambio.csv")

    dfClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dfClienti.csv")

    dfConsumi = pd.read_csv(
        complePath + "/CorrectedDatasets/dfConsumi.csv")

    dfCostoOrarioConsuntivo = pd.read_csv(
        complePath+"/CorrectedDatasets/dfConsuntivo.csv")

    dfCostoOrarioBudget = pd.read_csv(
        complePath+"CorrectedDatasets/dfCostoOrario.csv")

    dfImpiegoRisorse = pd.read_csv(
        complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

    dftuttiClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dftuttiClienti.csv")

    dfVendite = pd.read_csv(
        complePath+"/CorrectedDatasets/dfVendite.csv")

Username:  marcovinciguerra

## Apro 2 tabelle a caso

In [21]:
dfConsumi.rename(columns={'Budget/cons': 'budget'}, inplace=True)
dfConsumi = sqldf("SELECT * FROM dfConsumi WHERE budget = 'BUDGET' ")

print("Numero di righe: "+str(dfConsumi.shape[0]))

dfConsumi.head()

Numero di righe: 1688

,Unnamed: 0,NrMovimento,budget,CodiceMP,NrArticolo,NrDocumento,QuantityMPImpiegata,ImportoCostoTOTALE
0,0,28854,BUDGET,ART0001074,ART0000018,ODP17-05342,30.0,5.15
1,2,28853,BUDGET,ART0005696,ART0000041,ODP17-05342,4.0,92.00
2,4,28855,BUDGET,ART0005697,ART0000042,ODP17-05342,4.0,104.00
3,6,28852,BUDGET,ART0001074,ART0000043,ODP17-05342,210.0,36.06
4,8,28514,BUDGET,ART0005683,ART0000115,ODP17-04831,645.0,210.48

In [25]:
dfImpiegoRisorse.rename(columns={'Budget/cons': 'budget'}, inplace=True)
dfImpiegoRisorse = sqldf(
"SELECT * FROM dfImpiegoRisorse WHERE budgetConsuntivo = 'CONSUNTIVO' ")

print("Numero di righe: "+str(dfImpiegoRisorse.shape[0]))

dfImpiegoRisorse.head()

Numero di righe: 3791

,Unnamed: 0,NrArticolo,budgetConsuntivo,NrOrdineProduzione,Descrizione,NrAreaProduzione,Risorsa,TempoRisorsa,QuantitydiOutput
0,3,ART0000018,CONSUNTIVO,ODP19-05998,Tornitura,A20,RIS2,1.0000,2.0
1,4,ART0000018,CONSUNTIVO,ODP19-05998,Fresatura,A30,RIS5,1.0000,2.0
2,5,ART0000018,CONSUNTIVO,ODP19-05998,Controllo qualità,CQ,RIS16,0.0000,2.0
3,10,ART0000041,CONSUNTIVO,ODP19-05998,Tornitura,A20,RIS1,3.0000,4.0
4,11,ART0000041,CONSUNTIVO,ODP19-05998,Fresatura,A30,RIS1,0.0001,4.0

# Prova outer join

In [28]:
outer_join_df = pd.merge(dfConsumi, dfImpiegoRisorse,
                         on='NrArticolo', how='outer')

print("Numero di righe: "+str(outer_join_df.shape[0]))

Numero di righe: 33456