## SETUP + reading tables

In [423]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt
import os.path
import getpass
import platform
from pandasql import sqldf

username = getpass.getuser()

print("Username: ", username)
pathPart1 = "/Users/"
pathPart2 = "/Github/SCGProject/Datasets/"
complePath = pathPart1+username+pathPart2

if platform.system() == "Darwin":
    if(username == "marcovinciguerra"):
        dfCambio = pd.read_csv(
            complePath+"/CorrectedDatasets/dfCambio.csv")

        dfClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dfClienti.csv")

        dfConsumi = pd.read_csv(
            complePath + "/CorrectedDatasets/dfConsumi.csv")

        dfCostoOrarioConsuntivo = pd.read_csv(
            complePath+"/CorrectedDatasets/dfConsuntivo.csv")

        dfCostoOrarioBudget = pd.read_csv(
            complePath+"CorrectedDatasets/dfCostoOrario.csv")

        dfImpiegoRisorse = pd.read_csv(
            complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

        dftuttiClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dftuttiClienti.csv")

        dfVendite = pd.read_csv(
            complePath+"/CorrectedDatasets/dfVendite.csv")

    elif(username == "davidguzman"):
        pathPart1 = "/Users/"
        pathPart2 = "/documents/Github/SCGProject/Datasets/"
        complePath = pathPart1+username+pathPart2

        dfCambio = pd.read_csv(
            complePath+"/CorrectedDatasets/dfCambio.csv")

        dfClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dfClienti.csv")

        dfConsumi = pd.read_csv(
            complePath + "/CorrectedDatasets/dfConsumi.csv")

        dfCostoOrarioConsuntivo = pd.read_csv(
            complePath+"/CorrectedDatasets/dfConsuntivo.csv")

        dfCostoOrarioBudget = pd.read_csv(
            complePath+"CorrectedDatasets/dfCostoOrario.csv")

        dfImpiegoRisorse = pd.read_csv(
            complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

        dftuttiClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dftuttiClienti.csv")

        dfVendite = pd.read_csv(
            complePath+"/CorrectedDatasets/dfVendite.csv")

elif platform.system() == "Linux":
    complePath = "/home/alinux/unibg/git_repo/SCGProject"
    pathPart1 = "/Users/"
    pathPart2 = "/documents/Github/SCGProject/Datasets/"
    complePath = pathPart1+username+pathPart2

    dfCambio = pd.read_csv(
        complePath+"/CorrectedDatasets/dfCambio.csv")

    dfClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dfClienti.csv")

    dfConsumi = pd.read_csv(
        complePath + "/CorrectedDatasets/dfConsumi.csv")

    dfCostoOrarioConsuntivo = pd.read_csv(
        complePath+"/CorrectedDatasets/dfConsuntivo.csv")

    dfCostoOrarioBudget = pd.read_csv(
        complePath+"CorrectedDatasets/dfCostoOrario.csv")

    dfImpiegoRisorse = pd.read_csv(
        complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

    dftuttiClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dftuttiClienti.csv")

    dfVendite = pd.read_csv(
        complePath+"/CorrectedDatasets/dfVendite.csv")

Username:  marcovinciguerra

# Totale dei ricavi considerando anche la valuta locale

In [424]:
# Vendite
dfVendite.head()

,Unnamed: 0,NrMovimento,budget/cons,NrArticolo,NrOrigine,Quantity,ImportoVenditaValutaLocaleTOTALEVENDITA
0,0,21621,BUDGET,ART0001433,C00140,4,18.80
1,1,21629,BUDGET,ART0001610,C00140,12,145.28
2,2,21631,BUDGET,ART0003269,C00140,24,933.99
3,3,21633,BUDGET,ART0002249,C00140,1,36.33
4,4,21634,BUDGET,ART0002370,C00140,1,65.72

In [425]:
# Valuta locale 
dfCambio["TassoCambioMedio"] = dfCambio["TassoCambioMedio"].str.replace(',','.')


dfCambio.head()

   Unnamed: 0  CodiceValuta        Anno TassoCambioMedio
0           0             1      BUDGET                1
1           1             2      BUDGET           1.0541
2           2             3      BUDGET            123.4
3           3             1  CONSUNTIVO                1
4           4             2  CONSUNTIVO           1.1993

# Costruzione della tabella con i cammini di join

In [426]:
dfVendite.rename(columns={'budget/cons': 'budget'}, inplace=True)
dfVendite.loc[dfVendite.loc[:, "budget"] ==
              "Consuntivo", "budget"] = "CONSUNTIVO"
dfVendite.loc[dfVendite.loc[:, "budget"]
              == "Budget", "budget"] = "BUDGET"


#Joining with the exchange rate
VenditeTotale = sqldf(
    "SELECT * FROM  dfClienti C JOIN dfVendite V ON C.Nr = V.NrOrigine") 

#La prima colonna è il codice del cliente
VenditeTotale = sqldf(
    "SELECT * FROM VenditeTotale V JOIN dfCambio C ON  V.Valuta = C.CodiceValuta AND V.budget = C.Anno ")
del VenditeTotale['Anno']
del VenditeTotale['CodiceValuta']
del VenditeTotale['NrMovimento']
del VenditeTotale['NrOrigine']
del VenditeTotale['Unnamed: 0']


VenditeTotale.head()

,Nr,CodCondizioniPagam,FattCumulative,Valuta,budget,NrArticolo,Quantity,ImportoVenditaValutaLocaleTOTALEVENDITA,TassoCambioMedio
0,C00001,101,0,1,BUDGET,ART0000893,2,250.0,1
1,C00001,101,0,1,BUDGET,ART0005136,1,250.0,1
2,C00001,101,0,1,BUDGET,ART0000877,4,952.0,1
3,C00001,101,0,1,BUDGET,ART0000878,4,912.0,1
4,C00001,101,0,1,BUDGET,ART0000879,4,312.0,1

## Dimensioni delle tabelle

In [427]:
print("Dimensioni dfVendite: "+str(dfVendite.shape[0]))

print("Dimensioni dfCambio: "+str(dfCambio.shape[0]))

print("Dimensioni VenditeTotale: "+str(VenditeTotale.shape[0]))

print("Non si perdono informazioni perchè le dimensioni delle tabelle coincidono")

Dimensioni dfVendite: 2976
Dimensioni dfCambio: 6
Dimensioni VenditeTotale: 2976
Non si perdono informazioni perchè le dimensioni delle tabelle coincidono

## Somma per il budget

In [428]:
totVenditeBudget = sqldf(
    "SELECT SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio) FROM VenditeTotale WHERE budget = 'BUDGET' ")
print(totVenditeBudget)

   SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio)
0                                      395335.892443

## Somma per il consuntivo

In [429]:
totVenditeConsuntivo = sqldf(
    "SELECT SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio) FROM VenditeTotale WHERE budget = 'CONSUNTIVO' ")
print(totVenditeConsuntivo)

   SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio)
0                                      507842.851413

## Calcolo dello scostamento

In [430]:
ScostamentoVendite = totVenditeConsuntivo - totVenditeBudget
print(ScostamentoVendite)

   SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio)
0                                       112506.95897

# Totale dei costi

In [431]:
del dfConsumi['Unnamed: 0']
dfConsumi.head()

,NrMovimento,Budget/cons,CodiceMP,NrArticolo,NrDocumento,QuantityMPImpiegata,ImportoCostoTOTALE
0,28854,BUDGET,ART0001074,ART0000018,ODP17-05342,30.0,5.15
1,66819,CONSUNTIVO,ART0001074,ART0000018,ODP19-05998,30.0,5.15
2,28853,BUDGET,ART0005696,ART0000041,ODP17-05342,4.0,92.00
3,66818,CONSUNTIVO,ART0005696,ART0000041,ODP19-05998,4.0,88.00
4,28855,BUDGET,ART0005697,ART0000042,ODP17-05342,4.0,104.00

### Impiego orario delle risorse

In [432]:
del dfImpiegoRisorse['Unnamed: 0']
dfImpiegoRisorse.head()

,NrArticolo,budgetConsuntivo,NrOrdineProduzione,Descrizione,NrAreaProduzione,Risorsa,TempoRisorsa,QuantitydiOutput
0,ART0000018,BUDGET,ODP17-05342,Tornitura,A20,RIS2,1.00,2.0
1,ART0000018,BUDGET,ODP17-05342,Fresatura,A30,RIS7,0.75,2.0
2,ART0000018,BUDGET,ODP17-05342,Controllo qualità,CQ,RIS16,0.00,2.0
3,ART0000018,CONSUNTIVO,ODP19-05998,Tornitura,A20,RIS2,1.00,2.0
4,ART0000018,CONSUNTIVO,ODP19-05998,Fresatura,A30,RIS5,1.00,2.0

### Costo orario delle risorse a consuntivo

In [433]:
dfCostoOrarioConsuntivo.head()

   Unnamed: 0 Risorsa AreaProduzione  CostoOrario
0           0    RIS1            A10           60
1           1    RIS1            A11           60
2           2    RIS1            A20           80
3           3    RIS1            A30           80
4           4    RIS1            A32           60

### Costo orario delle risorse a budget

In [434]:
del dfCostoOrarioConsuntivo['Unnamed: 0']
dfCostoOrarioConsuntivo.head()

  Risorsa AreaProduzione  CostoOrario
0    RIS1            A10           60
1    RIS1            A11           60
2    RIS1            A20           80
3    RIS1            A30           80
4    RIS1            A32           60

In [435]:
dfImpiegoRisorse.head()

,NrArticolo,budgetConsuntivo,NrOrdineProduzione,Descrizione,NrAreaProduzione,Risorsa,TempoRisorsa,QuantitydiOutput
0,ART0000018,BUDGET,ODP17-05342,Tornitura,A20,RIS2,1.00,2.0
1,ART0000018,BUDGET,ODP17-05342,Fresatura,A30,RIS7,0.75,2.0
2,ART0000018,BUDGET,ODP17-05342,Controllo qualità,CQ,RIS16,0.00,2.0
3,ART0000018,CONSUNTIVO,ODP19-05998,Tornitura,A20,RIS2,1.00,2.0
4,ART0000018,CONSUNTIVO,ODP19-05998,Fresatura,A30,RIS5,1.00,2.0

### Calcolo dei costi a budget

In [436]:
dfCostoOrarioBudget.rename(columns={'Budget/cons': 'budget'}, inplace=True)
dfImpiegoRisorse.rename(columns={'Budget/cons': 'budget'}, inplace=True)
dfConsumi.rename(columns={'Budget/cons': 'budget'}, inplace=True)

ImportoCostoTotaleMPBudget = sqldf(
    "SELECT DISTINCT * FROM dfCostoOrarioBudget B JOIN dfImpiegoRisorse R ON B.Risorsa = R.Risorsa JOIN dfConsumi C ON C.NrArticolo = R.NrArticolo AND C.budget = R.budgetConsuntivo WHERE budgetConsuntivo = 'BUDGET'")
del ImportoCostoTotaleMPBudget["Descrizione"]
del ImportoCostoTotaleMPBudget["Unnamed: 0"]
del ImportoCostoTotaleMPBudget["AreaProduzione"]
del ImportoCostoTotaleMPBudget["Risorsa"]

ImportoCostoTotaleMPBudget.head()

,CostoOrario,NrArticolo,budgetConsuntivo,NrOrdineProduzione,NrAreaProduzione,TempoRisorsa,QuantitydiOutput,NrMovimento,budget,CodiceMP,NrArticolo,NrDocumento,QuantityMPImpiegata,ImportoCostoTOTALE
0,51.0,ART0000018,BUDGET,ODP17-05342,A20,1.0,2.0,28854,BUDGET,ART0001074,ART0000018,ODP17-05342,30.0,5.15
1,51.0,ART0000018,BUDGET,ODP17-05342,A20,1.0,2.0,28854,BUDGET,ART0001074,ART0000018,ODP17-05342,30.0,5.15
2,68.0,ART0000018,BUDGET,ODP17-05342,A20,1.0,2.0,28854,BUDGET,ART0001074,ART0000018,ODP17-05342,30.0,5.15
3,51.0,ART0000018,BUDGET,ODP17-05342,A20,1.0,2.0,28854,BUDGET,ART0001074,ART0000018,ODP17-05342,30.0,5.15
4,42.5,ART0000018,BUDGET,ODP17-05342,A20,1.0,2.0,28854,BUDGET,ART0001074,ART0000018,ODP17-05342,30.0,5.15

### Calcolo dei costi per Budget

In [437]:
TotaleCostoBudget = sqldf(
    "SELECT SUM(TempoRisorsa*CostoOrario*ImportoCostoTOTALE) FROM ImportoCostoTotaleMPBudget WHERE budgetConsuntivo = 'BUDGET'")
print(TotaleCostoBudget)

   SUM(TempoRisorsa*CostoOrario*ImportoCostoTOTALE)
0                                      8.587350e+08

In [438]:
ImportoCostoTotaleConsuntivo = sqldf(
    "SELECT DISTINCT * FROM dfCostoOrarioConsuntivo B JOIN dfImpiegoRisorse R ON B.Risorsa = R.Risorsa  JOIN dfConsumi C ON C.NrArticolo = R.NrArticolo AND C.budget = R.budgetConsuntivo WHERE budgetConsuntivo='CONSUNTIVO'")

del ImportoCostoTotaleConsuntivo["Descrizione"]
del ImportoCostoTotaleConsuntivo["Risorsa"]
del ImportoCostoTotaleConsuntivo["NrOrdineProduzione"]
del ImportoCostoTotaleConsuntivo["NrAreaProduzione"]
del ImportoCostoTotaleConsuntivo["NrMovimento"]
del ImportoCostoTotaleConsuntivo["NrDocumento"]

ImportoCostoTotaleConsuntivo.head()

,AreaProduzione,CostoOrario,NrArticolo,budgetConsuntivo,TempoRisorsa,QuantitydiOutput,budget,CodiceMP,NrArticolo,QuantityMPImpiegata,ImportoCostoTOTALE
0,A10,60,ART0000018,CONSUNTIVO,1.0,2.0,CONSUNTIVO,ART0001074,ART0000018,30.0,5.15
1,A11,60,ART0000018,CONSUNTIVO,1.0,2.0,CONSUNTIVO,ART0001074,ART0000018,30.0,5.15
2,A20,80,ART0000018,CONSUNTIVO,1.0,2.0,CONSUNTIVO,ART0001074,ART0000018,30.0,5.15
3,A30,60,ART0000018,CONSUNTIVO,1.0,2.0,CONSUNTIVO,ART0001074,ART0000018,30.0,5.15
4,A33,50,ART0000018,CONSUNTIVO,1.0,2.0,CONSUNTIVO,ART0001074,ART0000018,30.0,5.15

In [439]:
TotaleCostoConsuntivo = sqldf(
    "SELECT SUM(TempoRisorsa*CostoOrario*ImportoCostoTOTALE) FROM ImportoCostoTotaleConsuntivo WHERE budgetConsuntivo = 'CONSUNTIVO'")
print(TotaleCostoConsuntivo)

   SUM(TempoRisorsa*CostoOrario*ImportoCostoTOTALE)
0                                      3.914135e+09

### Calcolo della differenza

In [440]:
scostamentoCosti = TotaleCostoConsuntivo - TotaleCostoBudget
print(scostamentoCosti)

   SUM(TempoRisorsa*CostoOrario*ImportoCostoTOTALE)
0                                      3.055400e+09