## SETUP + reading tables

In [423]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt
import os.path
import getpass
import platform
from pandasql import sqldf

username = getpass.getuser()

print("Username: ", username)
pathPart1 = "/Users/"
pathPart2 = "/Github/SCGProject/Datasets/"
complePath = pathPart1+username+pathPart2

if platform.system() == "Darwin":
    if(username == "marcovinciguerra"):
        dfCambio = pd.read_csv(
            complePath+"/CorrectedDatasets/dfCambio.csv")

        dfClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dfClienti.csv")

        dfConsumi = pd.read_csv(
            complePath + "/CorrectedDatasets/dfConsumi.csv")

        dfCostoOrarioConsuntivo = pd.read_csv(
            complePath+"/CorrectedDatasets/dfConsuntivo.csv")

        dfCostoOrarioBudget = pd.read_csv(
            complePath+"CorrectedDatasets/dfCostoOrario.csv")

        dfImpiegoRisorse = pd.read_csv(
            complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

        dftuttiClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dftuttiClienti.csv")

        dfVendite = pd.read_csv(
            complePath+"/CorrectedDatasets/dfVendite.csv")

    elif(username == "davidguzman"):
        pathPart1 = "/Users/"
        pathPart2 = "/documents/Github/SCGProject/Datasets/"
        complePath = pathPart1+username+pathPart2

        dfCambio = pd.read_csv(
            complePath+"/CorrectedDatasets/dfCambio.csv")

        dfClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dfClienti.csv")

        dfConsumi = pd.read_csv(
            complePath + "/CorrectedDatasets/dfConsumi.csv")

        dfCostoOrarioConsuntivo = pd.read_csv(
            complePath+"/CorrectedDatasets/dfConsuntivo.csv")

        dfCostoOrarioBudget = pd.read_csv(
            complePath+"CorrectedDatasets/dfCostoOrario.csv")

        dfImpiegoRisorse = pd.read_csv(
            complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

        dftuttiClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dftuttiClienti.csv")

        dfVendite = pd.read_csv(
            complePath+"/CorrectedDatasets/dfVendite.csv")

elif platform.system() == "Linux":
    complePath = "/home/alinux/unibg/git_repo/SCGProject"
    pathPart1 = "/Users/"
    pathPart2 = "/documents/Github/SCGProject/Datasets/"
    complePath = pathPart1+username+pathPart2

    dfCambio = pd.read_csv(
        complePath+"/CorrectedDatasets/dfCambio.csv")

    dfClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dfClienti.csv")

    dfConsumi = pd.read_csv(
        complePath + "/CorrectedDatasets/dfConsumi.csv")

    dfCostoOrarioConsuntivo = pd.read_csv(
        complePath+"/CorrectedDatasets/dfConsuntivo.csv")

    dfCostoOrarioBudget = pd.read_csv(
        complePath+"CorrectedDatasets/dfCostoOrario.csv")

    dfImpiegoRisorse = pd.read_csv(
        complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

    dftuttiClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dftuttiClienti.csv")

    dfVendite = pd.read_csv(
        complePath+"/CorrectedDatasets/dfVendite.csv")

Username:  marcovinciguerra

# Totale dei ricavi considerando anche la valuta locale

In [424]:
# Vendite
dfVendite.head()

,Unnamed: 0,NrMovimento,budget/cons,NrArticolo,NrOrigine,Quantity,ImportoVenditaValutaLocaleTOTALEVENDITA
0,0,21621,BUDGET,ART0001433,C00140,4,18.80
1,1,21629,BUDGET,ART0001610,C00140,12,145.28
2,2,21631,BUDGET,ART0003269,C00140,24,933.99
3,3,21633,BUDGET,ART0002249,C00140,1,36.33
4,4,21634,BUDGET,ART0002370,C00140,1,65.72

In [425]:
# Valuta locale 
dfCambio["TassoCambioMedio"] = dfCambio["TassoCambioMedio"].str.replace(',','.')


dfCambio.head()

   Unnamed: 0  CodiceValuta        Anno TassoCambioMedio
0           0             1      BUDGET                1
1           1             2      BUDGET           1.0541
2           2             3      BUDGET            123.4
3           3             1  CONSUNTIVO                1
4           4             2  CONSUNTIVO           1.1993

# Costruzione della tabella con i cammini di join

In [426]:
dfVendite.rename(columns={'budget/cons': 'budget'}, inplace=True)
dfVendite.loc[dfVendite.loc[:, "budget"] ==
              "Consuntivo", "budget"] = "CONSUNTIVO"
dfVendite.loc[dfVendite.loc[:, "budget"]
              == "Budget", "budget"] = "BUDGET"


#Joining with the exchange rate
VenditeTotale = sqldf(
    "SELECT * FROM  dfClienti C JOIN dfVendite V ON C.Nr = V.NrOrigine") 

#La prima colonna è il codice del cliente
VenditeTotale = sqldf(
    "SELECT * FROM VenditeTotale V JOIN dfCambio C ON  V.Valuta = C.CodiceValuta AND V.budget = C.Anno ")
del VenditeTotale['Anno']
del VenditeTotale['CodiceValuta']
del VenditeTotale['NrMovimento']
del VenditeTotale['NrOrigine']
del VenditeTotale['Unnamed: 0']


VenditeTotale.head()

,Nr,CodCondizioniPagam,FattCumulative,Valuta,budget,NrArticolo,Quantity,ImportoVenditaValutaLocaleTOTALEVENDITA,TassoCambioMedio
0,C00001,101,0,1,BUDGET,ART0000893,2,250.0,1
1,C00001,101,0,1,BUDGET,ART0005136,1,250.0,1
2,C00001,101,0,1,BUDGET,ART0000877,4,952.0,1
3,C00001,101,0,1,BUDGET,ART0000878,4,912.0,1
4,C00001,101,0,1,BUDGET,ART0000879,4,312.0,1

## Dimensioni delle tabelle

In [427]:
print("Dimensioni dfVendite: "+str(dfVendite.shape[0]))

print("Dimensioni dfCambio: "+str(dfCambio.shape[0]))

print("Dimensioni VenditeTotale: "+str(VenditeTotale.shape[0]))

print("Non si perdono informazioni perchè le dimensioni delle tabelle coincidono")

Dimensioni dfVendite: 2976
Dimensioni dfCambio: 6
Dimensioni VenditeTotale: 2976
Non si perdono informazioni perchè le dimensioni delle tabelle coincidono

## Somma per il budget

In [428]:
totVenditeBudget = sqldf(
    "SELECT SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio) FROM VenditeTotale WHERE budget = 'BUDGET' ")
print(totVenditeBudget)

   SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio)
0                                      395335.892443

## Somma per il consuntivo

In [429]:
totVenditeConsuntivo = sqldf(
    "SELECT SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio) FROM VenditeTotale WHERE budget = 'CONSUNTIVO' ")
print(totVenditeConsuntivo)

   SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio)
0                                      507842.851413

## Calcolo dello scostamento

In [430]:
ScostamentoVendite = totVenditeConsuntivo - totVenditeBudget
print(ScostamentoVendite)

   SUM(ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio)
0                                       112506.95897