In [1]:
# %%capture
# !pip install -U pandasql
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt
import os.path
import getpass
import platform

# Getting the user name for creating the directory

In [2]:
username = getpass.getuser()

print("Username: ", username)

Username:  marcovinciguerra

# Choosing the directory for the graphs

In [3]:
pathPart1 = "/Users/"
pathPart2 = "/Github/SCGProject/Datasets"
complePath = pathPart1+username+pathPart2



if platform.system() == "Darwin":
    print("The OS is MACOS")
    print("Complete path: ", complePath)
    dload = os.chdir(complePath)

elif platform.system() == "Linux":
    print("The OS is Linux")
    print("Complete path: ", complePath)
    dload = os.chdir(complePath)

else: 
    print("The OS is Windows")

    pathwin = "C:\SCGProject\Datasets"
    print("Complete path: ", pathwin)
    dload = os.chdir(pathwin)

The OS is MACOS
Complete path:  /Users/marcovinciguerra/Github/SCGProject/Datasets

# Clienti

In [4]:
dfClienti = pd.read_excel('RawDatasets/Clienti.xlsx')

dfClienti = dfClienti.rename(
    columns={'Nr.': 'Nr', 'Cod. condizioni pagam.': 'CodCondizioniPagam', 'Fatt. cumulative': 'FattCumulative'})
dfClienti.head()

       Nr  CodCondizioniPagam  FattCumulative  Valuta
0  C00001                 101           False       1
1  C00003                 102           False       2
2  C00004                 102           False       3
3  C00005                 112           False       1
4  C00006                 101           False       2

In [5]:
#1: Euro
indice1 = dfClienti.loc[dfClienti.Valuta == 1, :]

indice1.insert(loc=4, column='Valuta',
               value='Euro', allow_duplicates=True)

#2: Dollaro
indice2 = dfClienti.loc[dfClienti.Valuta == 2, :]

indice2.insert(loc=4, column='Valuta',
               value='Dollaro', allow_duplicates=True)


#3: Yen
indice3 = dfClienti.loc[dfClienti.Valuta == 3, :]

indice3.insert(loc=4, column='Valuta',
               value='Dollaro', allow_duplicates=True)

#Unione delle sottotabelle
union = pd.concat([indice1, indice2, indice3])

In [6]:
union = union.rename(
    columns={'Nr.': 'Nr', 'Cod. condizioni pagam.': 'CodCondizioniPagam', 'Fatt. cumulative': 'FattCumulative'})
union.head()

        Nr  CodCondizioniPagam  FattCumulative Valuta Valuta
0   C00001                 101           False      1   Euro
3   C00005                 112           False      1   Euro
6   C00008                 101           False      1   Euro
9   C00011                 101           False      1   Euro
12  C00017                 101           False      1   Euro

# Consumi

In [7]:
dfConsumi = pd.read_excel('RawDatasets/Consumi.xlsx')

del dfConsumi["Tipo movimento"]
del dfConsumi["Tipo origine"]

In [8]:
dfConsumi = dfConsumi.rename(
    columns={'Nr. movimento': "NrMovimento", 'Codice MP': 'CodiceMP', 'Nr articolo': 'NrArticolo', 'Nr. documento': 'NrDocumento',
             'Quantità MP impiegata': 'QuantityMPImpiegata', 'Importo costo (TOTALE)': 'ImportoCostoTOTALE'})
dfConsumi.head()

,NrMovimento,Budget/cons,CodiceMP,NrArticolo,NrDocumento,QuantityMPImpiegata,ImportoCostoTOTALE
0,28854,BUDGET,ART0001074,ART0000018,ODP17-05342,30.0,5.15
1,66819,CONSUNTIVO,ART0001074,ART0000018,ODP19-05998,30.0,5.15
2,28853,BUDGET,ART0005696,ART0000041,ODP17-05342,4.0,92.00
3,66818,CONSUNTIVO,ART0005696,ART0000041,ODP19-05998,4.0,88.00
4,28855,BUDGET,ART0005697,ART0000042,ODP17-05342,4.0,104.00

# Costo orario risorse - budget

In [9]:
dfCostoOrario = pd.read_excel('RawDatasets/Costo orario risorse - budget.xlsx')

In [10]:
dfCostoOrario = dfCostoOrario.rename(columns={'Area di produzione': 'AreaProduzione', 'Costo orario (€/h)': 'CostoOrario'})

dfCostoOrario.head()

  Risorsa AreaProduzione  CostoOrario
0    RIS1            A10         51.0
1    RIS1            A11         51.0
2    RIS1            A20         68.0
3    RIS1            A30         68.0
4    RIS1            A32         51.0

# Costo orario risorse - consuntivo

In [11]:
dfConsuntivo = pd.read_excel(
    'RawDatasets/Costo orario risorse - consuntivo.xlsx')

dfConsuntivo.head()

  Risorsa Area di produzione  Costo orario (€/h)
0    RIS1                A10                  60
1    RIS1                A11                  60
2    RIS1                A20                  80
3    RIS1                A30                  80
4    RIS1                A32                  60

In [12]:
dfConsuntivo = dfConsuntivo.rename(
    columns={'Area di produzione': 'AreaProduzione', 'Costo orario (€/h)': 'CostoOrario'})
dfConsuntivo.head()

  Risorsa AreaProduzione  CostoOrario
0    RIS1            A10           60
1    RIS1            A11           60
2    RIS1            A20           80
3    RIS1            A30           80
4    RIS1            A32           60

# Impiego orario risorse

In [13]:
dfImpiegoRisorse = pd.read_excel('RawDatasets/Impiego orario risorse.xlsx')

In [14]:
dfImpiegoRisorse = dfImpiegoRisorse.rename(
    columns={'nr articolo': 'NrArticolo', 'budget/consuntivo': 'budgetConsuntivo', 'Nr. Ordine di produzione': 'NrOrdineProduzione', 'Nr. Area di produzione': 'NrAreaProduzione',
             'Tempo risorsa': 'TempoRisorsa', 'Quantità di output': 'QuantitydiOutput'})

dfImpiegoRisorse.head()

,NrArticolo,budgetConsuntivo,NrOrdineProduzione,Descrizione,NrAreaProduzione,Risorsa,TempoRisorsa,QuantitydiOutput
0,ART0000018,BUDGET,ODP17-05342,Tornitura,A20,RIS2,1.00,2.0
1,ART0000018,BUDGET,ODP17-05342,Fresatura,A30,RIS7,0.75,2.0
2,ART0000018,BUDGET,ODP17-05342,Controllo qualità,CQ,RIS16,0.00,2.0
3,ART0000018,CONSUNTIVO,ODP19-05998,Tornitura,A20,RIS2,1.00,2.0
4,ART0000018,CONSUNTIVO,ODP19-05998,Fresatura,A30,RIS5,1.00,2.0

# Tassi di cambio

In [15]:
dfCambio = pd.read_excel('RawDatasets/Tassi di cambio.xlsx')

In [16]:

dfCambio = dfCambio.rename(columns={'Codice valuta': 'CodiceValuta', 'Tasso di cambio medio': 'TassoCambioMedio'})
#1: Euro
indice1 = dfCambio.loc[dfCambio.CodiceValuta == 1, :]

#2: Dollaro
indice2 = dfCambio.loc[dfCambio.CodiceValuta == 2, :]

#3: Yen
indice3 = dfCambio.loc[dfCambio.CodiceValuta == 3, :]

#Unione delle sottotabelle
union = pd.concat([indice1, indice2, indice3])
union.head()

   CodiceValuta        Anno TassoCambioMedio
0             1      BUDGET                1
3             1  CONSUNTIVO                1
1             2      BUDGET           1,0541
4             2  CONSUNTIVO           1,1993
2             3      BUDGET            123.4

# Vendite

In [17]:
dfVendite = pd.read_excel('RawDatasets/Vendite.xlsx')

del dfVendite["Tipo movimento"]
del dfVendite["Tipo origine"]

dfVendite.head()

,Nr. movimento,budget/cons,Nr articolo,Nr. origine,Quantità,Importo vendita in valuta locale (TOTALE VENDITA)
0,21621,BUDGET,ART0001433,C00140,4,18.80
1,21629,BUDGET,ART0001610,C00140,12,145.28
2,21631,BUDGET,ART0003269,C00140,24,933.99
3,21633,BUDGET,ART0002249,C00140,1,36.33
4,21634,BUDGET,ART0002370,C00140,1,65.72

In [18]:
dfVendite = dfVendite.rename(
    columns={'Nr. movimento': 'NrMovimento', 'budget/cons': 'budget/cons', 'Nr articolo': 'NrArticolo',
             'Nr. origine': 'NrOrigine', 'Quantità': 'Quantity', 'Importo vendita in valuta locale (TOTALE VENDITA)': 'ImportoVenditaValutaLocaleTOTALEVENDITA'})

dfVendite.head()

,NrMovimento,budget/cons,NrArticolo,NrOrigine,Quantity,ImportoVenditaValutaLocaleTOTALEVENDITA
0,21621,BUDGET,ART0001433,C00140,4,18.80
1,21629,BUDGET,ART0001610,C00140,12,145.28
2,21631,BUDGET,ART0003269,C00140,24,933.99
3,21633,BUDGET,ART0002249,C00140,1,36.33
4,21634,BUDGET,ART0002370,C00140,1,65.72

## Now we save the datasets-> li devo esportare in xlsx!

## New directory

In [19]:
username = getpass.getuser()

print("Username: ", username)
pathPart1 = "/Users/"
pathPart2New = "/Github/SCGProject/Datasets/CorrectedDatasets"
complePath = pathPart1+username+pathPart2New
dload = os.chdir(complePath)

if platform.system() == "Darwin":
    print("The OS is MACOS")
    print("Complete path: ", complePath)
elif platform.system() == "Linux":
    print("The OS is Linux")
    print("Complete path: ", complePath)

else:
    pathwin = "C:\SCGProject\Datasets\CorrectedDatasets"
    print("The OS is Windows")
    print("Complete path: ", pathwin)

    dload = os.chdir(pathwin)

Username:  marcovinciguerra
The OS is MACOS
Complete path:  /Users/marcovinciguerra/Github/SCGProject/Datasets/CorrectedDatasets

In [20]:
dfClienti.to_csv('dfClienti.csv')
dfConsumi.to_csv('dfConsumi.csv')
dfCostoOrario.to_csv('dfCostoOrario.csv')
dfCambio.to_csv('dfCambio.csv')
union.to_csv('dftuttiClienti.csv')
dfVendite.to_csv('dfVendite.csv')
dfImpiegoRisorse.to_csv('dfImpiegoRisorse.csv')
dfConsuntivo.to_csv('dfConsuntivo.csv')