In [1]:
# %%capture
# !pip install -U pandasql
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt
import xlrd
# from pandasql import sqldf

# Clienti

In [2]:
dfClienti = pd.read_excel('Clienti.xlsx')

print(dfClienti)

        Nr.  Cod. condizioni pagam.  Fatt. cumulative  Valuta
0    C00001                     101             False       1
1    C00003                     102             False       2
2    C00004                     102             False       3
3    C00005                     112             False       1
4    C00006                     101             False       2
..      ...                     ...               ...     ...
103  C00512                     100             False       2
104  C00513                     101             False       3
105  C00514                     101             False       1
106  C00515                     101             False       2
107  C90001                     101             False       3

[108 rows x 4 columns]

In [39]:
#1: Euro
indice1 = dfClienti.loc[dfClienti.Valuta == 1, :]


stringa1 = ["A"]*(len(indice1))

for i in range(0, len(indice1)):
    stringa[i] = "Euro"

#2: Dollaro
indice2 = dfClienti.loc[dfClienti.Valuta == 2, :]

stringa2 = ["A"]*(len(indice2))

for i in range(0, len(indice2)):
    stringa2[i] = "Dollaro"

#3: Yen
indice3 = dfClienti.loc[dfClienti.Valuta == 3, :]

stringa3 = ["A"]*(len(indice3))

for i in range(0, len(indice3)):
    stringa2[i] = "Yen"

# Consumi

In [27]:
dfConsumi = pd.read_excel('Consumi.xlsx')

del dfConsumi["Tipo movimento"]
del dfConsumi["Tipo origine"]

print(dfConsumi)

      Nr. movimento Budget/cons   Codice MP Nr articolo Nr. documento  \
0             21684      BUDGET  ART0001929  ART0000788   ODP16-16812
1             21685      BUDGET  ART0001820  ART0000788   ODP16-16812
2             21686      BUDGET  ART0005137  ART0000788   ODP16-16812
3             21687      BUDGET  ART0005138  ART0000788   ODP16-16812
4             21688      BUDGET  ART0005139  ART0000788   ODP16-16812
...             ...         ...         ...         ...           ...
4514          67895  CONSUNTIVO  ART0005394  ART0002962   ODP19-06418
4515          67896  CONSUNTIVO  ART0005394  ART0002963   ODP19-06418
4516          67925  CONSUNTIVO  ART0005399  ART0000889   ODP19-06659
4517          67926  CONSUNTIVO  ART0005327  ART0000889   ODP19-06659
4518          68013  CONSUNTIVO  ART0005922  ART0000891   ODP19-06659

      Quantità MP impiegata  Importo costo (TOTALE)
0                       1.0                  126.01
1                       1.0                   52.71
2                       1.0                    0.00
3                       1.0                    0.00
4                       1.0                    0.32
...                     ...                     ...
4514                   44.0                   36.68
4515                   40.0                   33.35
4516                  201.0                    4.99
4517                  231.0                   15.65
4518                 1050.0                   11.54

[4519 rows x 7 columns]

# Costo orario risorse - budget

In [20]:
dfConsumi = pd.read_excel('Costo orario risorse - budget.xlsx')

print(dfConsumi)

   Risorsa Area di produzione  Costo orario (€/h)
0     RIS1                A10                51.0
1     RIS1                A11                51.0
2     RIS1                A20                68.0
3     RIS1                A30                68.0
4     RIS1                A32                51.0
..     ...                ...                 ...
65    RIS9                A11                42.5
66    RIS9                A20                68.0
67    RIS9                A30                42.5
68    RIS9                A32                42.5
69    RIS9                A40                42.5

[70 rows x 3 columns]

# Costo orario risorse - consuntivo

In [21]:
dfConsuntivo = pd.read_excel('Costo orario risorse - consuntivo.xlsx')

print(dfConsuntivo)

   Risorsa Area di produzione  Costo orario (€/h)
0     RIS1                A10                  60
1     RIS1                A11                  60
2     RIS1                A20                  80
3     RIS1                A30                  80
4     RIS1                A32                  60
..     ...                ...                 ...
65    RIS9                A11                  50
66    RIS9                A20                  80
67    RIS9                A30                  50
68    RIS9                A32                  50
69    RIS9                A40                  50

[70 rows x 3 columns]

# Impiego orario risorse

In [25]:
dfImpiegoRisorse = pd.read_excel('Impiego orario risorse.xlsx')

print(dfImpiegoRisorse)

     nr articolo budget/consuntivo Nr. Ordine di produzione  \
0     ART0000788            BUDGET              ODP16-16812
1     ART0000756            BUDGET              ODP16-15232
2     ART0000772            BUDGET              ODP16-15712
3     ART0000762            BUDGET              ODP16-14704
4     ART0000762            BUDGET              ODP16-14704
...          ...               ...                      ...
6259  ART0000889        CONSUNTIVO              ODP19-06659
6260  ART0000889        CONSUNTIVO              ODP19-06659
6261  ART0000891        CONSUNTIVO              ODP19-06659
6262  ART0000893        CONSUNTIVO              ODP19-06659
6263  ART0000891        CONSUNTIVO              ODP19-06659

            Descrizione Nr. Area di produzione Risorsa  Tempo risorsa  \
0             Montaggio                    A40    RIS4         0.2500
1             Montaggio                    A40    RIS4         1.0000
2             Montaggio                    A40    RIS4         1.2500
3             Montaggio                    A40    RIS4         3.0000
4     Controllo qualità                     CQ   RIS16         0.0000
...                 ...                    ...     ...            ...
6259          Fresatura                    A30    RIS1         0.0001
6260  Controllo qualità                     CQ   RIS16         0.0000
6261          Fresatura                    A30    RIS1         3.0000
6262  Controllo qualità                     CQ   RIS16         0.0000
6263          Fresatura                    A30    RIS1         4.0000

      Quantità di output
0                    1.0
1                    2.0
2                    1.0
3                   10.0
4                   10.0
...                  ...
6259                 3.0
6260                 3.0
6261                 0.0
6262                 3.0
6263                 6.0

[6264 rows x 8 columns]

# Tassi di cambio

In [24]:
dfCambio = pd.read_excel('Tassi di cambio.xlsx')

print(dfCambio)

   Codice valuta        Anno Tasso di cambio medio
0              1      BUDGET                     1
1              2      BUDGET                1,0541
2              3      BUDGET                 123.4
3              1  CONSUNTIVO                     1
4              2  CONSUNTIVO                1,1993
5              3  CONSUNTIVO                135,01

# Vendite

In [28]:
dfVendite = pd.read_excel('Vendite.xlsx')

del dfVendite["Tipo movimento"]
del dfVendite["Tipo origine"]

print(dfVendite)

      Nr. movimento budget/cons Nr articolo Nr. origine  Quantità  \
0             21621      BUDGET  ART0001433      C00140         4
1             21629      BUDGET  ART0001610      C00140        12
2             21631      BUDGET  ART0003269      C00140        24
3             21633      BUDGET  ART0002249      C00140         1
4             21634      BUDGET  ART0002370      C00140         1
...             ...         ...         ...         ...       ...
2971          67665  Consuntivo  ART0003197      C00140         2
2972          67668  Consuntivo  ART0002740      C00140        20
2973          67669  Consuntivo  ART0002450      C00140         2
2974          67670  Consuntivo  ART0001215      C00140         2
2975          67671  Consuntivo  ART0002997      C00140         2

      Importo vendita in valuta locale (TOTALE VENDITA)
0                                                 18.80
1                                                145.28
2                                                933.99
3                                                 36.33
4                                                 65.72
...                                                 ...
2971                                               0.00
2972                                               0.00
2973                                             820.00
2974                                             584.00
2975                                             580.10

[2976 rows x 6 columns]