In [17]:
# %%capture
# !pip install -U pandasql
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt
import xlrd
# from pandasql import sqldf

# Clienti

In [18]:
dfClienti = pd.read_excel('Clienti.xlsx')

print(dfClienti)

        Nr.  Cod. condizioni pagam.  Fatt. cumulative  Valuta
0    C00001                     101             False       1
1    C00003                     102             False       2
2    C00004                     102             False       3
3    C00005                     112             False       1
4    C00006                     101             False       2
..      ...                     ...               ...     ...
103  C00512                     100             False       2
104  C00513                     101             False       3
105  C00514                     101             False       1
106  C00515                     101             False       2
107  C90001                     101             False       3

[108 rows x 4 columns]

# Consumi

In [19]:
dfConsumi = pd.read_excel('Consumi.xlsx')

print(dfConsumi)

      Nr. movimento Budget/cons Tipo movimento   Codice MP Tipo origine  \
0             21684      BUDGET        Consumo  ART0001929     Articolo
1             21685      BUDGET        Consumo  ART0001820     Articolo
2             21686      BUDGET        Consumo  ART0005137     Articolo
3             21687      BUDGET        Consumo  ART0005138     Articolo
4             21688      BUDGET        Consumo  ART0005139     Articolo
...             ...         ...            ...         ...          ...
4514          67895  CONSUNTIVO        Consumo  ART0005394     Articolo
4515          67896  CONSUNTIVO        Consumo  ART0005394     Articolo
4516          67925  CONSUNTIVO        Consumo  ART0005399     Articolo
4517          67926  CONSUNTIVO        Consumo  ART0005327     Articolo
4518          68013  CONSUNTIVO        Consumo  ART0005922     Articolo

     Nr articolo Nr. documento  Quantità MP impiegata  Importo costo (TOTALE)
0     ART0000788   ODP16-16812                    1.0                  126.01
1     ART0000788   ODP16-16812                    1.0                   52.71
2     ART0000788   ODP16-16812                    1.0                    0.00
3     ART0000788   ODP16-16812                    1.0                    0.00
4     ART0000788   ODP16-16812                    1.0                    0.32
...          ...           ...                    ...                     ...
4514  ART0002962   ODP19-06418                   44.0                   36.68
4515  ART0002963   ODP19-06418                   40.0                   33.35
4516  ART0000889   ODP19-06659                  201.0                    4.99
4517  ART0000889   ODP19-06659                  231.0                   15.65
4518  ART0000891   ODP19-06659                 1050.0                   11.54

[4519 rows x 9 columns]

# Costo orario risorse - budget

In [20]:
dfConsumi = pd.read_excel('Costo orario risorse - budget.xlsx')

print(dfConsumi)

   Risorsa Area di produzione  Costo orario (€/h)
0     RIS1                A10                51.0
1     RIS1                A11                51.0
2     RIS1                A20                68.0
3     RIS1                A30                68.0
4     RIS1                A32                51.0
..     ...                ...                 ...
65    RIS9                A11                42.5
66    RIS9                A20                68.0
67    RIS9                A30                42.5
68    RIS9                A32                42.5
69    RIS9                A40                42.5

[70 rows x 3 columns]

# Costo orario risorse - consuntivo

In [21]:
dfConsuntivo = pd.read_excel('Costo orario risorse - consuntivo.xlsx')

print(dfConsuntivo)

   Risorsa Area di produzione  Costo orario (€/h)
0     RIS1                A10                  60
1     RIS1                A11                  60
2     RIS1                A20                  80
3     RIS1                A30                  80
4     RIS1                A32                  60
..     ...                ...                 ...
65    RIS9                A11                  50
66    RIS9                A20                  80
67    RIS9                A30                  50
68    RIS9                A32                  50
69    RIS9                A40                  50

[70 rows x 3 columns]

# Impiego orario risorse

In [25]:
dfImpiegoRisorse = pd.read_excel('Impiego orario risorse.xlsx')

print(dfImpiegoRisorse)

     nr articolo budget/consuntivo Nr. Ordine di produzione  \
0     ART0000788            BUDGET              ODP16-16812
1     ART0000756            BUDGET              ODP16-15232
2     ART0000772            BUDGET              ODP16-15712
3     ART0000762            BUDGET              ODP16-14704
4     ART0000762            BUDGET              ODP16-14704
...          ...               ...                      ...
6259  ART0000889        CONSUNTIVO              ODP19-06659
6260  ART0000889        CONSUNTIVO              ODP19-06659
6261  ART0000891        CONSUNTIVO              ODP19-06659
6262  ART0000893        CONSUNTIVO              ODP19-06659
6263  ART0000891        CONSUNTIVO              ODP19-06659

            Descrizione Nr. Area di produzione Risorsa  Tempo risorsa  \
0             Montaggio                    A40    RIS4         0.2500
1             Montaggio                    A40    RIS4         1.0000
2             Montaggio                    A40    RIS4         1.2500
3             Montaggio                    A40    RIS4         3.0000
4     Controllo qualità                     CQ   RIS16         0.0000
...                 ...                    ...     ...            ...
6259          Fresatura                    A30    RIS1         0.0001
6260  Controllo qualità                     CQ   RIS16         0.0000
6261          Fresatura                    A30    RIS1         3.0000
6262  Controllo qualità                     CQ   RIS16         0.0000
6263          Fresatura                    A30    RIS1         4.0000

      Quantità di output
0                    1.0
1                    2.0
2                    1.0
3                   10.0
4                   10.0
...                  ...
6259                 3.0
6260                 3.0
6261                 0.0
6262                 3.0
6263                 6.0

[6264 rows x 8 columns]

# Tassi di cambio

In [24]:
dfCambio = pd.read_excel('Tassi di cambio.xlsx')

print(dfCambio)

   Codice valuta        Anno Tasso di cambio medio
0              1      BUDGET                     1
1              2      BUDGET                1,0541
2              3      BUDGET                 123.4
3              1  CONSUNTIVO                     1
4              2  CONSUNTIVO                1,1993
5              3  CONSUNTIVO                135,01

# Vendite

In [22]:
dfVendite = pd.read_excel('Vendite.xlsx')

print(dfVendite)

      Nr. movimento budget/cons Tipo movimento Nr articolo Tipo origine  \
0             21621      BUDGET        Vendita  ART0001433      Cliente
1             21629      BUDGET        Vendita  ART0001610      Cliente
2             21631      BUDGET        Vendita  ART0003269      Cliente
3             21633      BUDGET        Vendita  ART0002249      Cliente
4             21634      BUDGET        Vendita  ART0002370      Cliente
...             ...         ...            ...         ...          ...
2971          67665  Consuntivo        Vendita  ART0003197      Cliente
2972          67668  Consuntivo        Vendita  ART0002740      Cliente
2973          67669  Consuntivo        Vendita  ART0002450      Cliente
2974          67670  Consuntivo        Vendita  ART0001215      Cliente
2975          67671  Consuntivo        Vendita  ART0002997      Cliente

     Nr. origine  Quantità  Importo vendita in valuta locale (TOTALE VENDITA)
0         C00140         4                                              18.80
1         C00140        12                                             145.28
2         C00140        24                                             933.99
3         C00140         1                                              36.33
4         C00140         1                                              65.72
...          ...       ...                                                ...
2971      C00140         2                                               0.00
2972      C00140        20                                               0.00
2973      C00140         2                                             820.00
2974      C00140         2                                             584.00
2975      C00140         2                                             580.10

[2976 rows x 8 columns]