# Libraries

In [3]:
import getpass
import platform
import os
import pandas as pd
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.callbacks import EarlyStopping

# Directories for reading datasets

In [4]:
username = getpass.getuser()
pathPart1 = "/Users/"
pathPart2 = "/Github/SCGProject/Datasets/CorrectedDatasets"
complePath = pathPart1+username+pathPart2


if platform.system() == "Darwin":
    print("The OS is MACOS")
    print("Complete path: ", complePath)
    complePath = pathPart1+username+pathPart2
    dload = os.chdir(complePath)
    
elif platform.system() == "Linux":
    print("The OS is Linux")
    print("Complete path: ", complePath)
    complePath = pathPart1+username+pathPart2
    dload = os.chdir(complePath)
else:
    print("The OS is Windows")

    pathwin = "C: \SCGProject\Datasets\CorrectedDatasets"
    print("Complete path: ", pathwin)
    dload = os.chdir(pathwin)

The OS is MACOS
Complete path:  /Users/marcovinciguerra/Github/SCGProject/Datasets/CorrectedDatasets

# Reading all the datasets
## Clienti

In [6]:
Clienti = pd.read_csv('dfClienti.csv')
Clienti.head()

   Unnamed: 0      Nr  CodCondizioniPagam  Fatt. cumulative  Valuta
0           0  C00001                 101             False       1
1           1  C00003                 102             False       2
2           2  C00004                 102             False       3
3           3  C00005                 112             False       1
4           4  C00006                 101             False       2

## Consumi

In [7]:
Consumi = pd.read_csv('dfConsumi.csv')
Consumi.head()

,Unnamed: 0,NrMovimento,Budget/cons,CodiceMP,NrArticolo,NrDocumento,QuantityMPImpiegata,ImportoCostoTOTALE
0,0,21684,BUDGET,ART0001929,ART0000788,ODP16-16812,1.0,126.01
1,1,21685,BUDGET,ART0001820,ART0000788,ODP16-16812,1.0,52.71
2,2,21686,BUDGET,ART0005137,ART0000788,ODP16-16812,1.0,0.00
3,3,21687,BUDGET,ART0005138,ART0000788,ODP16-16812,1.0,0.00
4,4,21688,BUDGET,ART0005139,ART0000788,ODP16-16812,1.0,0.32

## Consuntivo

In [8]:
Consuntivo = pd.read_csv('dfConsuntivo.csv')
Consuntivo.head()

   Unnamed: 0 Risorsa AreaProduzione  CostoOrario
0           0    RIS1            A10           60
1           1    RIS1            A11           60
2           2    RIS1            A20           80
3           3    RIS1            A30           80
4           4    RIS1            A32           60

## Costo orario

In [9]:
CostoOrario = pd.read_csv('dfCostoOrario.csv')
CostoOrario.head()

   Unnamed: 0 Risorsa AreaProduzione  CostoOrario
0           0    RIS1            A10         51.0
1           1    RIS1            A11         51.0
2           2    RIS1            A20         68.0
3           3    RIS1            A30         68.0
4           4    RIS1            A32         51.0

## Impiego risorse

In [12]:
Risorse = pd.read_csv('dfImpiegoRisorse.csv')
Risorse.head()

,Unnamed: 0,nrArticolo,budgetConsuntivo,NrOrdineDiProduzione,Descrizione,NrAreaProduzione,Risorsa,TempoRisorsa,QuantityOutput
0,0,ART0000788,BUDGET,ODP16-16812,Montaggio,A40,RIS4,0.25,1.0
1,1,ART0000756,BUDGET,ODP16-15232,Montaggio,A40,RIS4,1.00,2.0
2,2,ART0000772,BUDGET,ODP16-15712,Montaggio,A40,RIS4,1.25,1.0
3,3,ART0000762,BUDGET,ODP16-14704,Montaggio,A40,RIS4,3.00,10.0
4,4,ART0000762,BUDGET,ODP16-14704,Controllo qualità,CQ,RIS16,0.00,10.0

## Tutti i clienti

In [11]:
Clienti =  pd.read_csv('dftuttiClienti.csv')
Clienti.head()

   Unnamed: 0      Nr  CodCondizioniPagam  Fatt. cumulative  Valuta Valuta.1
0           0  C00001                 101             False       1     Euro
1           3  C00005                 112             False       1     Euro
2           6  C00008                 101             False       1     Euro
3           9  C00011                 101             False       1     Euro
4          12  C00017                 101             False       1     Euro

## Vendite

In [13]:
Vendite = pd.read_csv('dfVendite.csv')
Vendite.head()

,Unnamed: 0,NrMovimento,budgetCons,NrArticolo,NrOrigine,Quantity,ImportoVenditaInValutaLocaleTOTALEVENDITA
0,0,21621,BUDGET,ART0001433,C00140,4,18.80
1,1,21629,BUDGET,ART0001610,C00140,12,145.28
2,2,21631,BUDGET,ART0003269,C00140,24,933.99
3,3,21633,BUDGET,ART0002249,C00140,1,36.33
4,4,21634,BUDGET,ART0002370,C00140,1,65.72